:root {
  --bodyBackgroundColor: #ebeced;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bodyBackgroundColor) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

.main button {
  height: 40px;
  background: red;
  color: aquamarine
}

.user {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}